<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Moscow ML</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Moscow ML</h1>
        <p>Moscow ML is a light-weight implementation of Standard ML (SML), a strict functional language used in teaching and research</p>

        <p class="view"><a href="https://github.com/kfl/mosml">View the Project on GitHub <small>kfl/mosml</small></a></p>


        <ul>
          <li><a href="https://github.com/kfl/mosml/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/kfl/mosml/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/kfl/mosml">View On <strong>GitHub</strong></a></li>
        </ul>

        <ul>
          <li><a href="https://github.com/kfl/mosml/releases/download/ver-2.10.1/mosml-2.10.1.pkg">Download <strong>PKG File</strong></a></li>
          <li><a href="https://launchpad.net/~kflarsen/+archive/ubuntu/mosml">Get <strong>DEB File</strong></a></li>
          <li><a href="https://github.com/kfl/mosml/releases/download/ver-2.10.1/mosml-setup-2.10.1.exe">Download <strong>Win. Installer</strong></a></li>

        </ul>

      </header>
      <section>
{{content}}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
